body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  float: left
}
span {
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px
}
input {
  width: 10%
}

#inner {
  display: table;
  margin: 0 auto;
  /* border: 1px solid black; */
}

#inner_med {
  display: table;
  margin: 0 8%;
  /* border: 1px solid black; */
}

#outer {
  /* border: 1px solid blue; */
  width:100%;
}
.intro {
  margin-bottom: 5px;
}
